.productContainer {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "s h"
    "s d";
  align-items: stretch;
  justify-content: stretch;
  grid-gap: 1.5rem;

  height: 99.75rem;
  max-width: 100%;
  border-radius: 4px;
  margin: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
