.displayItems {
  max-height: 100%;
  // width: 100%;
  align-self: stretch;
  // margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  grid-area: d;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: 100%;
    overflow-y: scroll;
  }
}
