.displayItems {
  max-height: 100%;
  // width: 100%;
  // margin: 1rem;
  align-self: stretch;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  grid-area: d;

  // @media only screen and (max-width: 53.93em) {
  //   width: 100%;
  // }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    height: 100%;
    overflow-y: scroll;
  }
}
