.sideBar {
  background-color: #fff;
  color: var(--color-dark--1);
  max-height: 100%;
  // width: 70rem;
  // margin: 1rem 0 1rem 1rem;
  padding: 2rem 1rem;
  align-self: stretch;
  border-radius: 10px;
  grid-area: s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify;
  gap: 2rem;

  // @media only screen and (max-width: 53.93em) {
  //   width: 40rem;
  // }

  // @media only screen and (max-width: 38.75em) {
  //   width: 30rem;
  // }

  footer {
    p {
      font-size: 1.2rem;
      color: var(--color-brand--1);
    }
  }
}
